<app-player-search></app-player-search>
<!-- <table>
  <thead>
    <tr>
      <th colspan="2"><div class="pagination">
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
          Anterior
        </button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button
          (click)="goToPage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
        >
          Siguiente
        </button>
      </div></th>
      <th>Posicion</th>
      <th>Calif.</th>
      <th>Potencial</th>
      <th>Edad</th>
      <th>FIFA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players" class="tr">
      <td>
        <img [src]="player.player_face_url" alt="{{ player.long_name }}" />
      </td>
      <td class="align-left">
        <a [routerLink]="['/players', player.id]">{{ player.long_name }} ...detalles</a>
      </td>
      <td>{{ player.player_positions }}</td>
      <td>{{ player.overall }}</td>
      <td>{{ player.potential }}</td>
      <td>{{ player.age }}</td>
      <td>{{ player.fifa_version }}</td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    Anterior
  </button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Siguiente
  </button>
</div> -->
